
body 
{
  background-color:#ffce89;    
}

#gradrow
{
  background: linear-gradient(90deg, rgba(84,83,83,1) 8%, rgba(40,39,51,1) 46%, rgba(38,38,38,1) 98%);
}

h1
{
  font-family: 'Patrick Hand', cursive;
  color: #03506f
}

button.btn.btn-info,button.btn.btn-primary, button.btn.btn-danger, button.btn.btn-outline-warning, button.btn.btn-outline-success
{
  font-family: 'Patrick Hand', cursive;
  font-size: 1.5vw;
  width:100%;
}

button.btn.btn-outline-light
{
  font-family: 'Shadows Into Light', cursive;
  font-weight: 600;
  width:100%;
  font-size: 1.5vw;
}



#eval
{
  font-family: 'Shadows Into Light', cursive;
  font-weight: 600;
}

#inpt
{
  background-color:#adce74;
  width:100%;   
  font-family: 'Press Start 2P', cursive;
  font-size: 0.8rem;
}

.blackbtn 
{
  background-color:black;

}

.shadow1
{
  box-shadow: 0 1em 10vmin 1vmin #272727;
}

